@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/bundle";
@import "react-datepicker/dist/react-datepicker.css";

@theme inline {
  --color-site-black: #1c1b1f;
  --color-site-green: #1ebc00;
  --color-site-gray: #666666;
  --color-site-stone: #f5f5f5;
  --color-site-neongreen: #ebff0a;
  --color-site-darkyellow: #7e8900;
  --color-site-saffron: #ffbb00;
  --color-site-skin: #ffe18d;
  --color-custom-gray:#EEEEEE;

  --spacing-8xl: 90rem;
  --spacing-9xl: 120rem;

  --font-pp-neue: var(--font-ppneue);
  --font-spline-sans: var(--font-spline-sans);

  --breakpoint-xlg: 90rem;
  --breakpoint-xxl: 120rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-pp-neue;
  }

  input,
  textarea,
  select {
    @apply focus:outline-none;
  }

  button {
    @apply cursor-pointer;
  }
}
